nav{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15rem;
    padding: 2rem;
    @media (max-width:900px) {
        justify-content: space-between;
        // width: 80%;
        margin: auto;
    }
    @media (max-width:480px) {
        justify-content: space-between;
        // width: 100%;
    }
    .links{
        background: #141414;
        padding: .5rem;
        border-radius: 20px;
        display: flex;
        gap: 4rem;
        a{
            text-decoration: none;
            color: white;
            display: flex;
            gap: .5rem;
            display: flex;
            align-items: center;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            background: #191919;
            border: 1px black solid;
            padding: .8rem 1.5rem;
            border-radius: 10px;
            transition: .3s ease-in-out;
            cursor: pointer;
        }:active, :hover{
            background: #f97316;
        }
        @media (max-width: 900px) {
            display: none;
        }
    }
    .contact{
        a{
            text-decoration: none;
            color: white;
            display: flex;
            align-items: center;
            gap: .5rem;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            background: #191919;
            border: 1px black solid;
            padding: .8rem 1.5rem;
            border-radius: 10px;
            transition: .3s ease-in-out;
            cursor: pointer;
        }:active, :hover{
            background: #D03227;
        }
    }
    .menu{
        display: none;
        cursor: pointer;
        @media (max-width:900px) {
            display: block;
        }
    }
}